<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body">
                        <img src="./assets/images/image_2020-11-13_15-21-37.png" style="width:40%">
                        <h2 class="py-3">Bank to Wallet Transfer</h2>
                        <p>HuluPay system is one of the best applications to use!</p><br>
                        <p>Enjoy Using it!!!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-5 border">
                <h4 class="pb-4">Please fill required fields</h4>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <input id="pin" name="pin" placeholder="Insert PIN Code" class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <input id="phone number" name="phone number" placeholder="Reciver Mobile No." class="form-control" required="required" type="text">
                        </div>
                        
                      </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="bank account" name="bank account" placeholder="Sender bank account" class="form-control" required="required" type="text" document. button. disabled = true>
                        </div>
                        <div class="form-group col-md-6">
                            <input id="amount" name="amount" placeholder="amount" class="form-control" required="required" type="text">
                        </div>
                        <div class="form-group col-md-12">
                                  <textarea id="comment" name="comment" cols="40" rows="5" class="form-control">Comment</textarea>
                        </div>
                    </div>
                    <div class="form-row" class="row">
                      <button type="button" class="btn btn-primary">Submit</button><hr>
                      <button type="button" class="btn btn-primary">Cancel</button><hr>
                     
                    </div><br>
                                   
                </form>
            </div>
        </div>
    </div>
</section>




