<div class="container">
    <div class="hullupay-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Fund Transfer</h1>
        <p class="lead">See all Activities Here</p>
      </div>
      
      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Wallet to Wallet</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">ETB0 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Wallet to Wallet</li>
              </ul>
              <a href="src/app/w2w-trans/w2w-trans" routerLink="/w2w-trans" class="btn btn-lg btn-block btn-primary" role="button">Wallet to Wallet</a>
            </div>
          </div>
       
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Wallet to Bank</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">ETB15 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                
                <li>Wallet to Bank</li>
              </ul>
              <a href="src/app/w2b-trans/w2b-trans" routerLink="/w2b-trans" class="btn btn-lg btn-block btn-primary" role="button">Wallet to Bank</a>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Bank to <br>Bank</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">ETB29 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                
                <li>Bank to Bank</li>
              </ul>
              <a href="src/app/b2b-trans/b2b-trans" routerLink="/b2b-trans" class="btn btn-lg btn-block btn-primary" role="button">Bank to Bank</a>
            </div>
          </div><br>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Bank to Wallet</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">ETB29 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                
                <li>Bank to Wallet</li>
              </ul>
              <a href="src/app/b2w-trans/b2w-trans" routerLink="/b2w-trans" class="btn btn-lg btn-block btn-primary" role="button">Bank to Wallet</a>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Non Customer</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">ETB0 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Non Customer</li>
              </ul>
              <a href="src/app/w2w-trans/w2w-trans" routerLink="/w2w-trans" class="btn btn-lg btn-block btn-primary" role="button">Wallet to Wallet</a>
            </div>
          </div>
        </div>
    </div>
</div>