<div class="container">
    <div class="hullupay-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Cash In/Out</h1>
        <p class="lead">See all Activities Here</p>
      </div>
      
      <div class="container">
        <div class="card-deck mb-3 text-center">
     
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Cash Deposit</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">ETB0 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Cash deposit</li>
              </ul>
              <a href="/src/app/cashdeposit/cashdeposit" routerLink="/cashdeposit" class="btn btn-lg btn-block btn-primary" role="button">Cash Deposit</a>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Cash Withdraw</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">ETB15 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                
                <li>Cash withdraw</li>
              </ul>
              <a href="/src/app/cashwithdraw/cashwithdraw" routerLink="/cashwithdraw" class="btn btn-lg btn-block btn-primary" role="button">Cash Withdraw</a>
            </div>
          </div>
        </div>
    </div>
</div>


