
<!-- <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">  -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <!-- *ngIf="authenticationService.IsAuthenticated" -->
  <a class="navbar-brand" routerLink="/home">{{ 'CASHFLOW.home' | translate }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarshullupay" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="#navbarshullupay">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/transfer">{{ 'CASHFLOW.transfer' | translate }}</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/cash-flow"><span class="sr-only">(current)</span>{{ 'CASHFLOW.cashflow' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/payment">{{ 'CASHFLOW.payment' | translate }}</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/topup"><span class="sr-only">(current)</span>{{ 'CASHFLOW.topup' | translate }}</a>
      </li>
    </ul>
    <label for="">
      {{ 'CASHFLOW.SELECT' | translate }}
      <select #langselect (change)="translate.use(langselect.value)" >
        <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }} </option>
      </select>
    </label>    
  </div>
</nav>

<div class="container">
    <div class="hullupay-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"><br>
        <h1 class="display-4">{{ 'CASHFLOW.cashin/out' | translate }}</h1>
        <p class="lead">{{ 'CASHFLOW.seeactivity' | translate }}</p><br><br><br>
      </div>
      
      <div class="container">
        <div class="card-deck mb-3 text-center">
     
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{ 'CASHFLOW.cashdiposit' | translate }}</h4>
            </div>
            <div class="card-body">
              <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <input id="code" name="agentcode" placeholder="{{ 'CASHFLOW.agentcode' | translate }}" class="form-control" required="required" type="text">
                    </div>
                    <div class="form-group col-md-6">
                      <input id="check" name="check Info" placeholder="{{ 'CASHFLOW.infocheck' | translate }}" class="form-control" required="required" type="text" document. button. disabled = true.>
                  </div>
                  </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <textarea id="display" name="display" placeholder= "{{ 'CASHFLOW.comment' | translate }}"cols="40" rows="5" class="form-control" document. button. disabled = true.></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <input id="amount" name="amount" placeholder="{{ 'CASHFLOW.amountdeposit' | translate }}" class="form-control" required="required" type="text">
                    </div>
                  
                </div>
                               
            </form>
              <a href="/src/app/cashdeposit/cashdeposit" routerLink="/cashdeposit" class="btn btn-lg btn-block btn-primary" role="button">{{ 'CASHFLOW.sendrequest' | translate }}</a>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{ 'CASHFLOW.cashwithdraw' | translate }}</h4>
            </div>
            <div class="card-body">
              <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <input id="code" name="agentcode" placeholder="{{ 'CASHFLOW.agentcode' | translate }}" class="form-control" required="required" type="text">
                    </div>
                    <div class="form-group col-md-6">
                      <input id="check" name="check Info" placeholder="{{ 'CASHFLOW.infocheck' | translate }}" class="form-control" required="required" type="text" document. button. disabled = true>
                  </div>
                  </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <textarea id="display" name="display" placeholder= "{{ 'CASHFLOW.comment' | translate }}"cols="40" rows="5" class="form-control" document. button. disabled = true.></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <input id="amount" name="amount" placeholder="{{ 'CASHFLOW.amountwithdraw' | translate }}" class="form-control" required="required" type="text">
                    </div>
                  
                </div>
                               
            </form>
              <a href="/src/app/cashwithdraw/cashwithdraw" routerLink="/cashwithdraw" class="btn btn-lg btn-block btn-primary" role="button">{{ 'CASHFLOW.sendrequest' | translate }}</a>
            </div>
          </div>
        </div>
    </div>
</div>


