<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <!-- *ngIf="authenticationService.IsAuthenticated" -->
  <a class="navbar-brand" routerLink="/home">HulluPay</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarshullupay" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="#navbarshullupay">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/transfer">Transfer</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/cash-flow"><span class="sr-only">(current)</span>Cash Flow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/payment">Payment</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/topup"><span class="sr-only">(current)</span>TopUp</a>
      </li>
    </ul>
    
  </div>
</nav>


<div class="container">
    <div class="hullupay-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"><br><br>
        <h1 class="display-4">Payments</h1>
        <p class="lead">See all Activities Here</p>
      </div>
      
      <div class="container" style="width: 60%; height: 20%;">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Utility/Bill Payment</h4>
            </div>
            <div class="card-body">
              
              <ul class="list-unstyled mt-3 mb-4">
                <a href="/src/app/electric/electric" routerLink="/electric" class="btn btn-lg btn-block btn-primary" role="button">Electric</a><br>
                <a href="/src/app/dstv/dstv" routerLink="/dstv" class="btn btn-lg btn-block btn-primary" role="button">DSTV</a><br>
                <a href="/src/app/water/water" routerLink="/water" class="btn btn-lg btn-block btn-primary" role="button">Water</a><br>
                <a href="/src/app/traficpayment/traficpayment" routerLink="/traficpayment" class="btn btn-lg btn-block btn-primary" role="button">Traffic payment</a><br>
                <a href="/src/app/schoolfee/schoolfee" routerLink="/schoolfee" class="btn btn-lg btn-block btn-primary" role="button">School fee</a><br>
                <a href="/src/app/airlinesticket/airlinesticket" routerLink="/airlinesticket" class="btn btn-lg btn-block btn-primary" role="button">Airlines Ticket</a><br>
              </ul>
            </div>
          </div><br>
          <div class="card mb-4 shadow-sm" style="height: 30%;">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Merchant Payments</h4>
            </div>
            <div class="card-body">
              
              <ul class="list-unstyled mt-3 mb-4">
                <a href="/src/app/supermarket/supermarket" routerLink="/supermarket" class="btn btn-lg btn-block btn-primary" role="button">Supermarket</a><br>
                <a href="/src/app/shops/shops" routerLink="/shops" class="btn btn-lg btn-block btn-primary" role="button">Shops</a><br>

              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>