<div class="container" style="width: 40%">
    <div class="hullupay-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">TopUp</h1>
        <p class="lead">See all Activities Here</p>
      </div>
      
      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Top Up</h4>
            </div>
            <div class="card-body">
              <a href="src/app/w2w-trans/w2w-trans" routerLink="/w2w-trans" class="btn btn-lg btn-block btn-primary" role="button">Recharge</a>
            </div>
          </div>
        </div>
    </div>
</div>